@import "/fonts/din/stylesheet.css";
@import "/fonts/din-cond/stylesheet.css";
@import "/fonts/laser-metal/stylesheet.css";

body {
  font-family: "DINPro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .btn {
  transition: all 0.45s cubic-bezier(0.33, 1, 0.68, 1);
}
