body {
  font-family: "DINPro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, .btn {
  transition: all 0.45s cubic-bezier(0.33, 1, 0.68, 1);
}

.btn {
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
}

.card {
  border: none;
  box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
}

.input-group-text {
  background-color: transparent;
  border-right-color: transparent;
  padding-right: 0;
}

.input-group > .form-control {
  border-left-color: transparent;

  &:focus {
    box-shadow: none;
    border-color: #ced4da;
    border-left-color: transparent;
  }
}