@import "./variables";

.subtitle {
  font-family: "DINPro-Cond", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.sale {
  color: rgba($black, 0.5);
  text-decoration: line-through;
}