@import "./variables";

.subtitle {
  font-family: "DINPro-Cond", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__title {
    font-weight: 700;
    font-size: 1.5rem;

    &--underline {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $grey;
    }
  }
}