@import "../../assets/scss/variables";

.tooltip-inner {
  padding: 0.5rem 1rem;
}

.card--addresses {
  margin-bottom: 2rem;

  a {
    color: $black;

    &:hover {
      text-decoration: none;
      color: rgba($black, 0.4);
    }
  }

  .card-title {
    font-weight: 700;
  }

  .list-unstyled li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .card__link span {
    cursor: pointer; 
    transition: all 0.45s cubic-bezier(0.33, 1, 0.68, 1);
    
    &:hover {
      color: rgba($black, 0.4);
    }
  }
}