@import "../../assets/scss/variables";

.tabs {
  margin-bottom: 1.25rem;
  border-bottom: 1px solid $grey;

  &__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__item {
    font-size: 1.14rem;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: 1.75rem;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    color: $black;
    padding: 0.75rem 0;
    border-bottom: 1px solid transparent;

    &.active {
      border-bottom-color: $blue;
      color: $blue;
    }

    &:hover, &:focus {
      text-decoration: none;
    }

    &:hover:not(.active) {
      color: $black;
      border-bottom-color: darken($grey, 10%);
    }
  }
}
