@import "../../../../assets/scss/variables";

.navbar {
  &__actions {
    position: absolute;
    right: 0;

    .btn {
      background-color: red;
      color: $white;

      span {
        display: inline-block;
        margin-right: 0.5rem;
        font-weight: 700;
        font-size: 1.14rem;
      }

      &:hover {
        box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
          0 3px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }

  @media (min-width: 768px) {
    justify-content: center;
  }
}

.navbar-brand img {
  max-height: 70px;

  @media (min-width: 768px) {
    max-height: 100px;
  }
}

.menu {
  position: absolute;
  top: calc(100% + 0.5rem);
  right: 10px;
  overflow: hidden;
  min-width: 240px;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  z-index: 100;

  &__list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    &:first-child {
      text-align: center;

      h6 {
        margin-bottom: 0;
        font-size: 0.875rem;
      }
    }

    &:last-child {
      border-top: 1px solid darken($grey, 2.5%);
  
      .menu__link {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        span {
          margin-left: 0;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 1rem;
    color: $black;

    span {
      display: inline-block;
      margin-left: 0.5rem;
      font-size: 0.875rem;
    }

    &:hover {
      color: $black;
      background-color: $grey;
      text-decoration: none;
    }
  }
}
