@import "../../assets/scss/variables";

.summary {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--highlight {
      margin-top: 0.5rem;
      font-weight: 700;
      font-size: 1.14rem;
    }
  }
}