@import "../../../assets/scss/variables";

.purchase {
  height: 100%;

  &__type {
    margin-bottom: 1.5rem;
  }
  .ordening-type {
    padding: 1rem;
    box-shadow: $general-shadow;
    
  }

  .ordening-type__options {
    
    .btn {
      font-size: 14px;
      color: $black;
    }
  }

  .select-outline {
    &__control {
      border-color: $grey !important;
    }
  
    &__placeholder {
      color: rgba($black, 0.4) !important;
    }
  
    &__option {
      color: $black !important; 
    }
  }
}