@import "../../assets/scss/variables";

$count: 10;
$time: 3;
$size: 100;

.holder {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: $white;
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $size + px;
  height: $size + px;
  transform: translateX(-50%) translateY(-50%);
  animation: rotatePreloader $time + s infinite ease-in;
}

@keyframes rotatePreloader {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

.preloader div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  &::before {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    background-color: $black;
    content: "";
    transform: translateX(-50%);
  }
}

@for $i from 1 through $count {
  .preloader div:nth-child(#{$i}) {
    z-index: $count - $i;
    transform: rotateZ(((360 / $count) * ($i - 1)) + deg);
    animation: rotateCircle + $i $time + s infinite linear;
  }
  @keyframes rotateCircle#{$i} {
    #{percentage(((50 / $count) * ($i - 1)) / 100)} {
      opacity: 0;
    }
    #{percentage((((50 / $count) + 0.0001) * ($i - 1)) / 100)} {
      opacity: 1;
      transform: rotateZ((0 - ((360 / $count) * ($i - 2))) + deg);
    }
    #{percentage((((50 / $count) * ($i - 0)) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }
    #{percentage(((50 + ((50 / $count) * ($i - 0))) + 2) / 100)} {
      transform: rotateZ((0 - ((360 / $count) * ($i - 1))) + deg);
    }
    100% {
      opacity: 1;
      transform: rotateZ((0 - ((360 / $count) * ($count - 1))) + deg);
    }
  }
}
