@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../assets/scss/variables";

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: rgba($black, 0.1);
  color: $white;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
  transform: translate(0, -50%);

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
    font-size: 2rem;
  }

  &--prev {
    left: 8px;

    @media (min-width: 768px) {
      left: 25px;
    }
  }

  &--next {
    right: 8px;

    @media (min-width: 768px) {
      right: 25px;
    }
  }

  &:hover {
    background-color: rgba($black, 0.5);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
}

.slick-dots {
  bottom: 0;
  margin: 0.5rem 0;

  li {
    margin: 0;

    button::before {
      color: $white;
      font-size: 10px;
      transition: all 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    }

    &.slick-active button::before {
      color: $white;
      opacity: 1;
    }
  }
}

.slick-slide img {
  width: 100%;
}